---
---

<div>
    <strong>About Me</strong>
  </p>
  <ul class="mt-5">
    <li>
      I'm a <a href="https://www.linkedin.com/in/marcus-ang-jh/" target="_blank">Student</a> at the National University of Singapore.
    </li>
    <li>
      Started running to have more time away from the world. Went from <a href="https://marcus-ang.com/blog/running/" target="_blank">Couch to Marathon</a>. No regrets.
    </li>
    <li>
      Thought reading would get me a million dollars in 6 months. It didn't, but I picked up a good hobby. I have a little archive <a href="https://marcus-ang.com/blog/readinglist/" target="_blank">here</a>.
    </li>
  </ul>
  <br>
</div>
