---
---

<div>
    <strong>About Me</strong>
  </p>
  <ul class="mt-5">
    <li>
      I'm a <a href="https://www.linkedin.com/in/marcus-ang-jh/" target="_blank">Student</a> at the National University of Singapore.
    </li>
    <li>
      I love to run. Went from <a href="https://marcus-ang.com/blog/running/" target="_blank">Couch to Marathon</a> once.
    </li>
    <li>
      I enjoy <a href="https://marcus-ang.com/blog/readinglist/" target="_blank">Reading</a>. Biographies especially.
    </li>
  </ul>
  <br>
</div>
