---
---

<div>
  <p>
    <strong>What I'm Currently Working On</strong>
  </p>
  <ul class="mt-5">
    <li>
      <a href="https://marcus-ang.com/blog/16pin8w/" target="_blank"><strong>16</strong> Projects in <strong>8</strong> Weeks.</a>
    </li>
  </ul>
  <br>
  <p>
    <strong>About Me</strong>
  </p>
  <ul class="mt-5">
    <li>
      I'm a <a href="https://www.linkedin.com/in/marcus-ang-jh/" target="_blank">Student</a> at the National University of Singapore.
    </li>
    <li>
      I love to run. Went from <a href="https://marcus-ang.com/blog/running/" target="_blank">Couch to Marathon</a> once.
    </li>
    <li>
      I enjoy <a href="https://marcus-ang.com/blog/readinglist/" target="_blank">Reading</a>. Biographies especially.
    </li>
    <li>
      I'm a self-taught <a href="https://github.com/marcusjhang" target="_blank">Programmer</a>.
    </li>
  </ul>
  <br>
  <p>
    <strong>Skill stacking</strong>
  </p>
  <ul class="mt-5">
    <li>
      <strong>Languages: </strong>Python, Javascript, Java 
    </li>
    <li>
      <strong>Web Development: </strong>ReactJS, HTML, CSS, Bootstrap, Django, SQLite
    </li>
  </ul>
</div>
