---
---

<div>
  <p>
    <strong>What I'm Currently Working On</strong>
  </p>
  <ul class="mt-5">
    <li>
      <strong>16</strong> Web Projects in <strong>8</strong> Weeks.
    </li>
  </ul>
  <br>
  <p>
    <strong>About Me</strong>
  </p>
  <ul class="mt-5">
    <li>
      I'm a student at the <a href="www.linkedin.com/in/marcus-ang-jh" target="_blank">National University of Singapore</a>.
    </li>
    <li>
      I love to run. Went from <a href="https://marcus-ang.com/blog/running/" target="_blank">Couch to Marathon</a> once.
    </li>
    <li>
      I enjoy <a href="https://marcus-ang.com/blog/readinglist/" target="_blank">Reading</a>. Biographies especially.
    </li>
    <li>
      I'm a self-taught <a href="https://github.com/marcusjhang" target="_blank">Programmer</a>.
    </li>
  </ul>
</div>
